.carritoImgItem {
    display: grid;
    grid-template-columns: 250px 4fr 20px;   
    grid-auto-rows: 200px;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .basura {
        color: tomato;
        cursor: pointer;
    }
}