body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.pageSection {
    text-align: center;
    margin-top: 3rem !important;
    width: 80%;
    margin: 0 auto;
}